.body-column:nth-child(2){
    background-image: url("../image/background.jpg");
    margin: 10px;
}

.body-column:nth-child(2) .space{
    height: 200px;
}
.body-column:nth-child(2) .introduce-page__column{
    background-color: white;
    border-radius: 0 0 10px 10px;
    padding: 0px 30px 50px 30px;
}

.body-column:nth-child(2) .introduce-page__column .introduce-page__img{
    display: flex;
    justify-content: center;
}
.body-column:nth-child(2) .introduce-page__column .introduce-page__img .introduce-page__image{
    width : 100px;
    height: 100px;
    border-radius: 100px;
    border: 3px solid white;
    margin-top: -50px;
}

.body-column:nth-child(2) .introduce-page__column .introduce-page__info{
    margin: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.body-column:nth-child(2) .introduce-page__column .introduce-page__info .info-name{
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
}

.body-column:nth-child(2) .introduce-page__column .introduce-page__info .info-job{
    opacity: 0.6;
}

.body-column:nth-child(2) .introduce-page__column .introduce-page__btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-column:nth-child(2) .introduce-page__column .introduce-page__btn .btn{    
    border-radius: 5px;
    width: 180px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.body-column:nth-child(2) .introduce-page__column .introduce-page__btn .btn:first-child{
    background-color: #6A75FF;
    color: #EAECFF;
}
.body-column:nth-child(2) .introduce-page__column .introduce-page__btn .btn:last-child{
    background-color: #EAECFF;
    color: #6A75FF;
}