@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Amaranth:400,700&display=swap');
*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #2698F9;
}

.frame{
    position: relative;
    width: 315px;
    height: 680px;
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url("https://thispersondoesnotexist.com/image");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding:  15px 20px;
}

.status-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    padding-left: 10px;
}

.status-bar .timestamp{
    font-size: 12px;
}

.status-bar i{
    font-size: 10px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.5;
    margin-bottom: 135px;
}

header .title  {
    font-size: 13px;
    font-weight: 700;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

main .avatar{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.avatar-info{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 35px;
}

.avatar-info .name{
    font-size: 20px;
    font-weight: 700;
    color: #2698F9;
    margin-bottom: 17px;
}

.avatar-info .location{
    font-size: 11px;
    opacity: 0.8;
}

main .buttons{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

main .buttons .btn{
    width: 135px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-bottom: 35px;
}

main .buttons .follow-btn{
    background-color: white;
    opacity: 0.6;
}

main .buttons .message-btn{
    color: white;
    background-color: #2698F9;
}

.countings{
    width: 90%;
}

.countings-list{
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    opacity: 0.6;
}

.countings-list .count{
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 7px 25px;
    opacity: 0.7;
}
nav .icon-list{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 17px;
    margin-bottom: 20px;
}

nav .nav-bar{
    width: 110px;
    height: 2px;
    background-color: black;
}


